<h2>
    <%= @title%>
</h2>
<a class="btn btn-primary btn-sm" href="/radar">國道一號</a>
<a class="btn btn-primary btn-sm" href="/radar/3">國道三號</a>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">北向</div>
        <table class="table table-striped table-responsive table-hover">
          <% @northernList.each do |r|%>
            <tr>
              <td> <%=r[:km]%> </td>
              <td> <%=r[:title]%></td>
            </tr>
          <% end%>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">南向</div>
        <table class="table table-striped table-responsive table-hover">
          <% @southernList.each do |r|%>
            <tr>
              <td> <%=r[:km]%> </td>
              <td> <%=r[:title]%></td>
            </tr>
          <% end%>
        </table>
      </div>
    </div>
  </div>


</div>
