<!DOCTYPE html>
<html>
<head>
  <title>SpeedRadars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'app-icon.png', rel: 'apple-touch-icon', type: 'image/png'%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>
<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright SpeedRadars
    <br>Design by <a href="http://github.com/yonaichin" target=_new>Naichin.W</a>
  </p>
</footer>
</body>
</html>
